[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ipykernel = "*"
jupyter = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
xlrd = "*"

[requires]
python_version = "3.7.5"
